<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/default}">
<head>
<link rel="stylesheet" th:href="@{/css/freeBoard.css?ver=1}">
</head>

<div layout:fragment="content" class="mainPage-content text-left">
	<div class="uk-margin">
		<h1>FreeBoard</h1>
		<h5 th:if="${searchText!=null}">'<strong th:text="${searchText}"></strong>'에 대한 검색결과 <span th:text="${pageMaker.totalCount}"></span> 개</h5>
	</div>
	<div class="flex-container uk-margin">
		<th:block th:if="${freeBoard!=null}" th:each="board:${freeBoard}">
			<article class="article">
				<a class="cover-image" th:href="'/' + ${board.freeId}">
					<div class="image"></div>
				</a>
				<div class="details">
					<div class="detail-top">
						<h3>
							<a th:href="'/' + ${board.freeId}" th:text="${board.title}"></a>
						</h3>
					</div>
					<div class="detail-bottom">
						<a class="category" th:href="'/category/' + ${board.category}"
							th:text="${board.category}"></a> <span class="divider">·</span> <span
							class="date"
							th:text="${#temporals.format(board.createTime, 'yyyy.MM.dd HH:mm')}"></span>
					</div>
				</div>
			</article>
		</th:block>
	</div>
	<div class="mainPage-writing uk-margin">
		<button th:if="${session.loginUser!=null}"
			class="uk-button-default uk-button-small"
			onclick="location.href='/boardWrite'">Writing</button>&nbsp;
		<button 
			class="uk-button-default uk-button-small"
			onclick="location.href='/download/excel/FreeBoard'">Post Excel Download</button>
		<button 
			class="uk-button-default uk-button-small"
			onclick="location.href='/download/excel/Comment'">Comment Excel Download</button>
	</div>

	<!-- pagination -->
	<th:block th:replace="fragment/pagination :: pagination"></th:block>

</div>
</html>