<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{layout/default}"
	  >

  <div layout:fragment="content" class="col-sm-10 text-left"> 
    <h1>Join</h1>
    <hr>
      <form action="/joinRequest" method="post">
     	<input type="text" placeholder="아이디" name="user_id"/><br/><br/>
     	<input type="password" placeholder="비밀번호" name="user_pw"/><br/><br/>
     	<input type="text" placeholder="이름" name="user_name"/><br/><br/>
     	<input type="submit" value="회원가입">
    	</form>
  </div>

</html>
