<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	data-layout-decorate="~{layout/default}">
<div layout:fragment="content">
	<h1>Join</h1>
	<hr>
	<form action="/joinRequest" method="post" th:object="${users}">
		<div class="uk-margin">
			<input type="text" placeholder="ID" class="uk-input" name="user_id"/>
		</div>
		<div class="uk-margin">
			<input type="password" placeholder="PASSWORD" class="uk-input" name="user_pw" />
		</div>
		<div class="uk-margin">
			<input type="text" placeholder="NAME" class="uk-input" name="user_name" />
		</div>
		<div class="uk-margin">
			<input type="submit" class="uk-input" value="Sign Up">
		</div>
	</form>
	<hr>
</div>

</html>
