<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  data-layout-decorate="~{layout/default}">

  <div layout:fragment="content"> 
    <h1>Login</h1>
    <hr>
    <form action="/loginRequest" method="post">
	    <div class="uk-margin">
	    	<input type="text" placeholder="ID" class="uk-input" name="user_id"/><br/><br/>
	    </div>
	    <div class="uk-margin">
	    	<input type="password" placeholder="PASSWORD" class="uk-input" name="user_pw"/><br/><br/>
	    </div>
	    <div class="uk-margin">
	    	<input type="submit" class="uk-input" value="Login">
	    </div>
    </form>
  </div>

</html>
